@model int

<!DOCTYPE html>
<html>
<head>
    <title>Application Submitted</title>
    <style>
        .btn {
        background-color: #808080;
        color: white;
        border: none;
        padding: 10px 20px;
        margin: 10px 5px;
        border-radius: 5px;
        cursor: pointer;
        font-size: 16px
        }
    </style>
</head>
<body>
    <h1>Application Submitted Successfully</h1>
    <p>Your application has been successfully submitted.</p>
    <p>Your Application ID is: <strong>@Model</strong></p>
    <p>You can use this ID to track the status of your application at any time.</p>
    <button type="submit" id="process" name="action" value="process" class="btn" onclick="window.location.href='@Url.Action("Index", "Home")'">Home</button>
</body>
</html>